.icon-button {
    /* caja */
    border: none;
    margin: 0;
    /* posicion */
    display: flex;
    justify-content: center;
    align-items: center;
    /* estilo */
    background-color: inherit;
    color: white;
}