.caroussel-historias {
    /* caja */
    margin-top: 2em;
    /* posicion */
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    gap: 1em;
    /* estilo */
    overflow: hidden;
}

ul.caroussel-historias {
    padding: 0 1em 0 1em;
}

.caroussel-historias .historia {
    margin-right: 0.5em;
    width: 74px;
}

.caroussel-pasar {
    /* caja */
    width: 25px;
    height: 25px;
    border-radius: 50%;
    /* posicion */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    /* estilos */
    background-color: white;
    color: black;
    font-weight: bold;
    pointer-events: all;
    cursor: pointer;
    z-index: 11;
}

.caroussel-pasar#carousselPrev {
    left: 0;
}
.caroussel-pasar#carousselNext {
    right: 0;
}