.caroussel-historias {
    /* caja */
    margin-top: 2em;
    /* posicion */
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    gap: 1em;
    /* estilo */
    overflow: hidden;
}

ul.caroussel-historias {
    padding: 0 1em 0 1em;
}

.caroussel-historias .historia {
    margin-right: 0.5em;
    width: 74px;
}