.historia {
    align-items: center;
    cursor: pointer;
    list-style: none;
}

.historia:hover a {
    color: white;
}

.historia-a {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
}

.historia-img {
    /* caja */
    width: 66px;
    height: 66px;
    border-radius: 50%;
    /* estilos */
    object-fit: cover;
    object-position: center;
}

.historia-username {
    width: 100%;
    overflow: hidden;
}