.home {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  color: white;
}
.contenido {
  /* caja */
  height: 200vh;
  width: 100%;
  padding: 0 1em;
  /* posicion */
  position: relative;
  order: 2;
  z-index: 0;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .home{
    flex-direction: row;
  }
}