.home {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
}
.contenido {
  height: 200vh;
  position: relative;
  width: 100%;
  order: 2;
}

@media screen and (min-width: 768px) {
  .home{
    flex-direction: row;
  }
}