.navBar-principal {
  /* caja */
  border-top: 1px solid var(--color-contraste);
  border-bottom: none;
  /* posicion */
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  bottom: 0;
  order: 3;
  /* estilo */
  background-color: inherit;
}

@media screen and (min-width: 768px) {
  .navBar-principal {
    /* caja */
    height: 100vh;
    width: 5em;
    /* posicion */
    left: 0;
    order: 1;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    /* estilo */
    border-right: 1px solid var(--color-contraste);
  }
}
@media screen and (min-width: 1200px) {
  .navBar-principal {
    /* caja */
    width: 250px;
    margin-left: 0.8em;
  }
  
}