.navBar--small {
    /* caja */
    padding: 10px;
    border-bottom: 1px solid var(--color-contraste);
    /* posicion */
    gap: 2em;
}

.navbar-brand {
    color: white;
    font-family: 'Roboto Serif', serif;
}