.navBar-principal {
  /* caja */
  border-top: 1px solid var(--color-contraste);
  border-bottom: none;
  /* posicion */
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .navBar-principal {

  }
}